

.services-flex-conteiner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
}

.flex-services {
    font-size: 20px;
    padding: 100px 10px;
    width: 80%;
}

.eventi {
    background-color: aqua;
    border-radius: 20px;
}

.locali {
    background-color: blueviolet;
    width: 40%;
    position: relative;
    top: -400px;
    right: -595px;
    border-radius: 20px;
}   