<header>
    <div class="l-container">
        <div class="logo-container">
            <img class="logo" src="/images/logo125x125.png" alt="Logo San Junipero">
            <h1 id="san-junipero" class="logo-text">San Junipero</h1>
        </div>

        <nav id="menu-nav" class="menu">
            <ul class="menu-links-list">
                <li class="menu-link"><a href="/index.php">Home</a></li>
                <li class="menu-link"><a href="/php/abbonamenti.php">Abbonamenti</a></li>
                <li class="menu-link"><a href="/php/locali.php">Locali</a></li>
                <li class="menu-link"><a href="/php/eventi.php">Eventi</a></li>
                <li class="menu-link"><a href="/php/chiSiamo.php">Chi siamo</a></li>
                <li class="menu-link"><a href="/php/contatti.php">Contatti</a></li>
            </ul>
        </nav>
    </div>
    <div class="r-container">
        <userButtonsPlaceholder />
        <div class="switch-container">
            <span>☀️</span>
            <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
            <span>🌙</span>
        </div>
        <!-- toggle -->
        <div class="menu-toggle hide" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!-- toggle -->
    </div>
</header>

<nav id="breadcrumb-nav" class="breadcrumb-container flex-row-center">
    <p>Ti trovi in: <span class="breadcrumb" lang="en">
            <breadcrumbPlaceholder />
        </span></p>
</nav>