<head>
    <meta charset="utf-8" />
    <title>titleToReplace</title>
    <meta name="description"
        content="Questo è il sito ufficiale del metaverso San Junipero. Nella pagina viene spiegato come funziona il nostro mondo virtuale,
         gli eventi a cui poter partecipare, gli abbonamenti disponibili, il team del progetto,
          i contatti dell'azienda e la possibilità di accedere al profilo personale e di acquistare il proprio abbonamento" />
    <meta name="keywords" content="San Junipero, metaverso," />
    <meta name="author" content="San Junipero Inc" />

    <link rel="stylesheet" href="/styles/main.css" media="handheld, screen" />
    <link rel="shortcut icon" href="/images/favicon16x16.png" type="image/x-icon">
</head>