<header>
    <div class="l-container">
        <div class="logo-container">
            <a href="/index.php">
                <img id="san-junipero-logo" class="logo" src="/images/logo125x125.png" alt="Logo San Junipero">
            </a>
            <a href="/index.php">
                <h1 id="san-junipero" class="logo-text">San Junipero</h1>
            </a>
        </div>

        <nav id="menu-nav" class="menu">
            <ul class="menu-links-list">
                <li class="menu-link"><a href="/index.php">Home</a></li>
                <li class="menu-link"><a href="/php/abbonamenti.php">Abbonamenti</a></li>
                <li class="menu-link"><a href="/php/locali.php">Locali</a></li>
                <li class="menu-link"><a href="/php/eventi.php">Eventi</a></li>
                <li class="menu-link"><a href="/php/chiSiamo.php">Chi siamo</a></li>
                <li class="menu-link"><a href="/php/contatti.php">Contatti</a></li>
            </ul>
        </nav>
    </div>
    <div class="r-container">
        <userMenuPlaceholder />
        <div class="switch-container" id="dark-mode-toggle">
            <span aria-hidden="true">☀️</span>
            <label class="switch" for="dark-mode-switch">
                <input type="checkbox" id="dark-mode-switch" />
                <div class="slider round"></div>
            </label>
            <span aria-hidden="true">🌙</span>
        </div>
        <!-- toggle -->
        <div role="button" tabindex="0" class="menu-toggle hide" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!-- toggle -->
    </div>
</header>

<nav aria-label="Breadcrumb" id="breadcrumb-nav" class="breadcrumb-container flex-row-center">
    <p class="breadcrumb-text">Ti trovi in: <span class="breadcrumb" aria-current="page">
            <breadcrumbPlaceholder />
        </span></p>
</nav>