<head>
    <meta charset="utf-8" />
    <title>
        <titlePlaceholder />
    </title>
    <meta name="description" content="" />
    <meta name="author" content="San Junipero Inc" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- non sono sicuro type sia corretto -->
    <link type="text/css" rel="stylesheet" href="/styles/main.css" />
    <link type="text/css" rel="stylesheet" href="/styles/variables.css" />
    <link type="text/css" rel="stylesheet" href="/styles/header.css" />
    <link type="text/css" rel="stylesheet" href="/styles/footer.css" />
    <link type="text/css" media="print" rel="stylesheet" href="/styles/print.css" />
    <pageCssPlaceholder />
    <link rel="shortcut icon" href="/images/favicon16x16.png" type="image/x-icon">
</head>