<head>
    <meta charset="utf-8" />
    <title>
        <titlePlaceholder />
    </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="San Junipero Inc" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" media="screen" href="<urlPrefixPlaceholder/>/styles/main.css" />    
    <link type="text/css" rel="stylesheet" media="screen" href="<urlPrefixPlaceholder/>/styles/dark-mode.css" />
    <link type="text/css" media="print" rel="stylesheet" href="<urlPrefixPlaceholder/>/styles/print.css" />
    <pageCssPlaceholder />
    <link rel="shortcut icon" href="<urlPrefixPlaceholder/>/images/favicon16x16.png" type="image/x-icon" />
</head>