.plans-container {
    border-radius: 1.3em;
    padding: 2em;
    width: var(--card-width);
    margin-bottom: 4vh;
}

.plan-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50vh;
    width: 30vw;
    max-height: 650px;
    max-width: 350px;
    border-radius: var(--card-b-radius);
    padding: 40px;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
}


.plan-name {
    color: var(--clr-text);
}

.plan-price {
    font-size: var(--fs-h1-d);
    font-weight: bold;
    color: var(--clr-headings);
    display: flex;
}

.plan-features {
    list-style-type: none;
    margin-top: 4vh;
}

.plan-feature {
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



.feature-name {
    font-weight: bold;
    font-size: var(--fs-p-abb-d);
}

.feature-desc {
    font-size: var(--fs-p-abb-d);
}

.euro {
    font-size: 24px;
    margin-top: 0.6vh;
    margin-right: 0.1vw;
}

.subscribe-btn,
.subscribe-btn:visited {
    width: var(--btn-w);
    height: var(--btn-h);
    border: none;
    border-radius: var(--btn-b-radius);
    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
    font-weight: bold;
    align-self: center;
}

.unsubscribe-btn {
    align-self: center;
    text-decoration: none;
}




@media only screen and (max-width: 768px) {
    .plans-container {
        flex-direction: column;
    }

    .plan-price {
        font-size: var(--fs-h1-m);
    }

    .plan-card {
        margin-bottom: 2vh;
        width: 90vw;
    }

    .feature-name {
        font-weight: bold;
        font-size: var(--fs-p-abb-m);
    }

    .feature-desc {
        font-size: var(--fs-p-abb-m);
    }
}