.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    /* background-color: lightgray; */
    border-radius: var(--card-b-radius);
    margin-top: 4vh;
    margin-bottom: 8vh;
}

.page-heading {
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.inputs-container {
    width: 30vw;
}

.form-input {
    margin-bottom: 4vh;
    width: 15vw;
}

.btns-container {
    margin-bottom: 6vh;
}

.login-btn {
    margin-right: 1vw;
}

.signup-btn {
    margin-left: 1vw;
}

@media only screen and (max-width: 728px) {
    .form-input {
        width: 50vw;
    }
}