body.dark,
body.dark .menu-is-mobile {
    background-color: var(--clr-d-background);
}
body.dark .error-msg{
    color: #ff0000
}

body.dark,
body.dark .menu-link a,
body.dark footer {
    color: var(--clr-d-text);
}

body.dark .menu-link a.secondary-btn,
body.dark .menu-link a.secondary-btn:visited {
    background-color:var(--clr-btn-alt);
    color: black;
}

body.dark .menu-link a:hover {
    text-decoration: none;
}

body.dark a {
    color: var(--clr-d-a);
}

body.dark main a:visited {
    color: var(--clr-d-a-visited);
}

body.dark .card-link {
    color: var(--clr-d-a);
}

body.dark .card-link:visited {
    color: var(--clr-d-a-visited);
}


body.dark .menu-toggle .bar {
    background-color: var(--clr-d-text);
}

body.dark .card-shadow {
    -webkit-box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
    box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
}


/* ABBONAMENTI */
body.dark .plan-card {
    background-color: var(--clr-d-hcard);
}

body.dark .plan-name {
    color: var(--clr-d-text);
}

/* LOCALI, EVENTI */
body.dark .place-street,
body.dark .event-place {
    color: var(--clr-d-secondary);
}

body.dark .h-card {
    background-color: var(--clr-d-hcard);
}

body.dark main a.primary-btn,
body.dark main a.primary-btn:visited {
    color: white;
}

body.dark main a.secondary-btn,
body.dark main a.secondary-btn:visited {
    color: black;
}
/*Contatti*/

body.dark .contact-form {
    background-color: var(--clr-d-hcard);
}

/*profilo*/

body.dark .data-container {
    background-color: var(--clr-d-hcard);
}

/*crea evento*/
body.dark .event-form {
    background-color: var(--clr-d-hcard);
}

/*registrati*/
body.dark .login-form {
    background-color: var(--clr-d-hcard);
}

body.dark main .login-form a.secondary-btn,
body.dark main .login-form a.secondary-btn:visited {
    color: black;
}

body.dark .events-count {
    color: var(--clr-d-secondary);
}

@media screen and (max-width: 1300px) {

    body.dark header, 
    body.dark  .menu-is-mobile {
        background-color: var(--clr-d-hcard);
    }
}