body,
.menu-is-mobile {
    background-color: var(--clr-d-background);
}

body,
.menu-link a,
footer {
    color: var(--clr-d-text);
}

.menu-toggle .bar {
    background-color: var(--clr-d-text);
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
    box-shadow: 0px 0px 32px 8px rgba(255, 255, 255, 0.06);
}


/* ABBONAMENTI */
.plan-card {
    background-color: var(--clr-d-hcard);
}

.plan-name {
    color: var(--clr-d-text);
}

/* LOCALI, EVENTI */
.place-street,
.event-place {
    color: var(--clr-d-secondary);
}

.h-card {
    background-color: var(--clr-d-hcard);
}

/*Contatti*/

.contact-form {
    background-color: var(--clr-d-hcard);
}

/*profilo*/

.data-container {
    background-color: var(--clr-d-hcard);
}

/*crea evento*/
.event-form {
    background-color: var(--clr-d-hcard);
}