header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.l-container {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-left: 8vw;
}

.r-container {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-right: 8vw;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.logo {
    z-index: 1;
    margin-right: 1vw;
    height: 7vh;
    max-height: 200px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn,
.login-btn:visited {
    width: 120px;
    color: white;
}

.signup-btn,
.signup-btn:visited {
    width: 120px;
    height: var(--btn-h);
    border: none;
    border-radius: var(--btn-b-radius);
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn,
.logout-btn:visited {
    width: 140px;
    color: white;
}

.menu-links-list {
    display: flex;
    list-style-type: none;
}

.menu-link {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu .menu-link {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.menu-link a {
    color: black;
    font-weight: bold;
}

.breadcrumb-container {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.breadcrumb {
    color: var(--clr-a-active);
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle {
    cursor: pointer;
}

.menu-toggle:hover {
    cursor: pointer;
}

/* ! non togliere */
.fix-toggle {
    padding-top: 7.5vh;
    right: 8vw;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* MOBILE MENUs */
.menu-is-mobile {
    background-color: white;
    height: 80vh;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.menu-is-mobile .menu-links-list {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: larger;
}

.menu-is-mobile .menu-link {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.user-menu-is-mobile {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    justify-content: flex-end;
    padding-right: 8vw;
}


/* SLIDER */
.switch-container {
    display: flex;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 2vw;
}

.switch-container span {
    position: relative;
}

.switch {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: var(--clr-headings);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}