header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.l-container {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-left: 2vw;
}

.r-container {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-right: 2vw;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.logo {
    margin-right: 1vw;
    height: 7vh;
    max-height: 200px;
}

.menu {
    display: flex;
    align-items: center;
}

.user-menu {
    margin-left: 10vw;

}

.menu-links-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.menu-link {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.menu-link a {
    color: black;
    font-weight: bold;
}

.breadcrumb-container {
    margin-top: 2vh;
}

.breadcrumb-container p {
    margin-left: 1.5vw;
}

.breadcrumb {
    color: var(--clr-a-active);
}