.gradient-card {
    background: #C400F0;
    background: linear-gradient(-45deg, #1A7EA2, #E31C68, #1A7EA2, #E31C68);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 40vh;
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-bottom: 4vh;
}

.gradient-card h1 {
    text-align: center;
    font-size: var(--fs-h1-d);
    color: white;
    width: 75vw;

}

.left-card,
.right-card {
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.left-card {
    align-self: flex-start;
    padding-left: 15vw;

}

.right-card {
    align-items: flex-end;
    text-align: right;
    padding-right: 15vw;
    align-self: flex-end;
}

.card-text {
    width: 60vw;
    font-size: var(--fs-home-p-d);
    font-weight: bold;
    line-height: 1.5em;
}

.card-link,
.card-link:visited {
    color: var(--clr-a);
    font-weight: bold;
    font-size: var(--fs-home-p-d);
    text-decoration: underline;
}

.card-link:visited {
    color: var(--clr-a-visited);
}


.card-link:hover {
    text-decoration: none;
}

.warning-banner {
    text-align: center;
}

@media screen and (max-width: 728px) {
    .gradient-card {
        height: 80vh;
    }

    .left-card,
    .right-card {
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 4vw;
        margin-right: 4vw;
        padding-left: 0;
        padding-right: 0;
        align-self: center;
    }

    .gradient-card h1 {
        font-size: var(--fs-h1-m);
    }

    .card-text,
    .card-link,
    .card-link:visited {
        font-size: var(--fs-home-p-m);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}