* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
    color: var(--clr-headings);
}



a {
    color: var(--clr-a);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

a:visited {
    color: var(--clr-a-visited);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    font-size: var(--fs-h1-d);
    margin-bottom: 8vh;
    width: 30vw;
    min-width: 400px;
    text-align: center;
}

.page-desc {
    width: 50vw;
    margin-bottom: 4vh;
}

.h-card {
    display: flex;
    width: var(--card-width);
    border-radius: var(--card-b-radius);
    padding: 4vh 4vw 4vh 4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.h-card-title {
    width: 40vw;
    font-size: var(--fs-h1-d);
    margin-bottom: 4vh;
    text-align: center;
}

.h-card-text {
    text-align: justify;
}


/* UTILITIES */
.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixate {
    position: fixed;
}


.btn,
.btn:visited {
    width: 200px;
    height: var(--btn-h);
    border: none;
    border-radius: var(--btn-b-radius);
    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease-out;
    transition: background-position 0.4s ease-out;
}

.btn:hover {
    background: rgb(209, 0, 255);
    background: linear-gradient(128deg, rgba(209, 0, 255, 1) 18%, rgba(144, 56, 229, 1) 50%, rgba(186, 20, 246, 1) 74%, rgba(157, 45, 234, 1) 98%);
    background-size: 500%;
    background-position: 150px;
}

input {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: var(--card-b-radius);
    height: 3em;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--clr-input-bg);
}

input:focus {
    /* TODO: con alcuni elementi stona */
    outline-color: var(--clr-headings);
}

input:invalid {
    /* TODO: CAMBIARE */
    outline-color: crimson;
}

input[type=checkbox] {
    accent-color: var(--clr-headings);
}

.is-active {
    display: block;
}

.hide {
    display: none !important;
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
}


@media only screen and (max-width: 768px) {
    .page-desc {
        width: 70vw;
    }
}