/* ! PER COMODITA' STO BUTTANDO TUTTO QUA MA POI SI FA REFACTORING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,
h2,
h3 {
    color: var(--clr-headings);
}

a {
    color: var(--clr-a);
    text-decoration: none;
}

a:visited {
    color: var(--clr-a-visited);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-card {
    display: flex;
    width: 97%;
    border-radius: 1.3em;
    padding: 4vh 4vw 4vh 4vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.h-card h1 {
    width: 40vw;
    font-size: var(--fs-h1-d);
    margin-bottom: 4vh;
    text-align: center;
}

.h-card p {
    text-align: justify;
}


.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PAGINA ABBONAMENTI */
.plans-container {
    background-color: lightgray;
    width: 99%;
    border-radius: 1.3em;
    padding: 2em;
}

.plan-container {
    display: flex;
    border-radius: 1.3em;
    padding: 1.3em;
    flex-direction: column;
}