/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v25-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v25-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

.aiuti {
    position: absolute;
    height: 0em;
    overflow: hidden;
}

h1,
h2,
h3 {
    color: var(--clr-headings);
}

p {
    font-size: var(--fs-p-d);
}

a {
    color: var(--clr-a);
    text-decoration: none;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: var(--clr-a-visited);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    font-size: var(--fs-h1-d);
    margin-bottom: 8vh;
    width: 30vw;
    min-width: 400px;
    text-align: center;
}

.page-desc {
    width: 50vw;
    margin-bottom: 4vh;
}

.h-card {
    display: flex;
    width: var(--card-width);
    border-radius: var(--card-b-radius);
    padding: 4vh 4vw 4vh 4vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.h-card-title {
    width: 40vw;
    font-size: var(--fs-h1-d);
    margin-bottom: 4vh;
    text-align: center;
}

.h-card-text {
    text-align: justify;
}



/* UTILITIES */
.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixate {
    position: fixed;
}


.btn,
.btn:visited {
    width: 200px;
    height: var(--btn-h);
    border: none;
    border-radius: var(--btn-b-radius);
    background-color: var(--clr-btn);
    color: var(--clr-btn-text);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.4s ease-out;
    transition: background-position 0.4s ease-out;
    font-size: var(--fs-btn-d);
}

.primary-btn:hover {
    background: #C400F0;
    background: linear-gradient(128deg, #67007e 18%, #9038e5 50%, #ba14f6 74%, #9d2dea 98%);
    background-size: 500%;
    background-position: 60%;
    text-decoration: none;
}

.secondary-btn,
.secondary-btn:visited {
    background-color: var(--clr-btn-alt);
    color: var(--clr-btn-text-alt);
    text-decoration: none;
}

input,
select {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: var(--card-b-radius);
    height: 3em;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: var(--clr-input-bg);
}

input:focus {
    /* TODO: con alcuni elementi stona */
    outline-color: var(--clr-headings);
}

input:invalid {
    outline-color: red;
}

input[type=checkbox] {
    accent-color: var(--clr-headings);
}

.is-active {
    display: block;
}

.hide {
    display: none !important;
}

.error-msg {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

.card-shadow {
    -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.13);
}

main {
    min-height: 75vh;
}


@media only screen and (max-width: 768px) {
    .page-desc {
        width: 70vw;
    }

    p {
        font-size: var(--fs-p-m);
    }

    .page-heading {
        font-size: var(--fs-h1-m);
    }

    .h-card-title {
        font-size: var(--fs-h1-m);
    }

    .btn,
    .btn:visited {
        font-size: var(--fs-btn-m);
    }
}

abbr.no-underline {
    text-decoration: none;
}
