main>a {
    margin-bottom: 6vh;
}

.data-container {
    display: flex;
    flex-direction: column;
    border-radius: var(--card-b-radius);
    width: 80vw;
    padding: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.data-row {
    display: flex;
    justify-content: space-between;
}

.data-label {
    font-weight: bold;
}

footer {
    margin-top: 6vh;
}