*{
  text-align: left;
}



header,
footer,
nav {
  display: none !important;
}

p,
h1,
h2 {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5em;
}


p {
  font-size: 12pt;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 14pt;
  
}

img {
  max-width: 500px;
}

.btn.primary-btn.place-events-btn {
  margin-top: 30px
}

a,
a:visited {
  display: none;
}

.h-card {
  border-radius: 0%;
  text-align: left;
}

.card-shadow {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}

button{
  display: none;
}

.h-card-text {
  text-align: left;
}