.login-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 70vh;
    background-color: lightgray;
    border-radius: var(--card-b-radius);
    padding: 40px;
}

.page-heading {
    margin-top: 5vh;
    margin-bottom: 0vh;
}

.inputs-container {
    display: flex;
    width: 30vw;
}


.inline-content .form-input {
    width: 15rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-input {
    margin-bottom: 2vh;
    width: 20vw;
}

.btns-container {
    margin-bottom: 6vh;
}

.login-btn {
    margin-right: 1vw;
}

.signup-btn {
    margin-left: 1vw;
}

@media only screen and (max-width: 728px) {
    .form-input {
        width: 40vw;
    }
}