:root {
    /* COLORS */
    --clr-text: black;
    --clr-headings: #C933BA;
    --clr-secondary: rgb(59, 0, 83);
    --clr-a: #007faa;
    --clr-a-visited: #3b0053;
    --clr-btn: #C933BA;
    --clr-btn-text: white;

    --clr-d-background: #181818;
    --clr-d-text: white;
    --clr-d-secondary: #ce84eb;

    /* FONT SIZES -- d = desktop, m = mobile*/
    --fs-h1-d: 48px;
    --fs-p-d: 20px;
    /* --fs-h2: 18px; */

    --card-width: 85%;
    --card-b-radius: 40px;


    --btn-b-radius: 40px;
    --btn-w: 120px;
    --btn-h: 60px;
}