:root {
    /* COLORS */
    --clr-text: black;
    --clr-headings: #C933BA;
    --clr-secondary: rgb(59, 0, 83);
    --clr-a: #007faa;
    --clr-a-visited: #3b0053;
    --clr-btn: #C933BA;
    --clr-btn-alt: gainsboro;
    --clr-btn-text: white;
    --clr-btn-text-alt: black;
    --clr-input-bg: #dcdcdc;

    /* COLORS DARK MODE */
    --clr-d-background: #181818;
    --clr-d-text: white;
    --clr-d-secondary: #ce84eb;
    --clr-d-card: rgb(62, 62, 62);
    --clr-d-hcard: black;
    --clr-d-a-visited: hsl(195, 88%, 74%);

    /* FONT SIZES -- d = desktop, m = mobile */
    --fs-h1-d: 48px;
    --fs-p-d: 20px;
    --fs-home-p-d: 30px;
    --fs-btn-d: 16px;
    --fs-h1-m: 36px;
    --fs-p-m: 16px;
    --fs-home-p-m:24;
    --fs-btn-m: 14px;

    /* --fs-h2: 18px; */


    /* b = button, w = width, h = height */
    --card-width: 85%;
    --card-b-radius: 40px;

    --btn-b-radius: 40px;
    --btn-w: 120px;
    --btn-h: 60px;
}